<section
  class="container discover"
  id="discover"
  aria-labelledby="benefits-title"
>
  <h2 class="discover-title">
    HOW IT’S <span class="discover-title-span">MADE?</span>
  </h2>
  <div class="discover-wrapper">
    <div
      class="discover-video-thumb"
      role="img"
      aria-label="Photo of raw chocolate flowing into a bowl"
    >
      <picture>
        <source
          srcset="
            /img/discover/discover-d.webp,
            /img/discover/discover-d@2.webp 2x
          "
          media="(min-width: 1200px)"
          width="600"
          height="400"
        />
        <source
          srcset="
            /img/discover/discover-t.webp,
            /img/discover/discover-t@2.webp 2x
          "
          media="(min-width: 768px)"
          width="614"
          height="400"
        />
        <source
          srcset="
            /img/discover/discover-m.webp,
            /img/discover/discover-m@2.webp 2x
          "
          width="335"
          height="500"
        />
        <img
          src="/img/discover/discover-m.webp"
          alt="Photo of raw chocolate flowing into a bowl"
        />
      </picture>
      <svg
        role="button"
        tabindex="0"
        aria-label="Play video"
        class="discover-playvideo-icon"
        width="44"
        height="44"
        viewBox="0 0 32 32"
      >
        <path
          d="M11.893 16.902c0 3.757.016 6.831.034 6.831.061 0 12.713-6.791 12.711-6.822-.002-.025-8.977-4.845-12.006-6.448l-.739-.39v6.831z"
        />
      </svg>
    </div>

    <div class="discover-benefits">
      <p class="discover-benefits-title">
        Try our chocolates today and discover the perfect balance of flavor
      </p>
      <ul class="discover-benefits-list">
        <li class="discover-benefit-item">
          Heat the milk in a saucepan without bringing it to a boil. Add sugar
          and cocoa powder.
        </li>
        <li class="discover-benefit-item">
          At the same time, prepare a water bath. Melt the butter on it.
        </li>
        <li class="discover-benefit-item">
          "Mix" the milk mixture and already liquid butter. Mix thoroughly with
          a silicone spatula so that the mass becomes uniform and silky.
        </li>
        <li class="discover-benefit-item">
          Heat the mixture over low heat, letting it barely boil.
        </li>
        <li class="discover-benefit-item">
          Pour the chocolate into special containers (can be replaced with ice
          molds). Allow to cool and harden.
        </li>
      </ul>
    </div>
  </div>
</section>
