<section class="hero" id="hero">
  <div class="container">
    <div class="hero-container">
      <h1 class="visually-hidden">HERO</h1>
      <div class="content">
        <h2 class="hero-paragraph">
          Treat yourself or a loved one to our finest ingredients for a moment
          of pure delight!
        </h2>
        <div class="btns">
          <button type="submit" class="btn-text">Buy now</button>
          <button type="#">How it’s made</button>
          <p class="scroll-text">scroll down</p>
          <img src="" alt="" />
        </div>
      </div>
    </div>
  </div>
</section>
