<section class="hero" id="hero">
  <div class="container">
    <div class="hero-container">
      <h1 class="visually-hidden">HERO</h1>
      <h2 class="hero-paragraph">
        Treat yourself or a loved one to our finest ingredients for a moment of
        pure delight!
      </h2>
      <div class="btns">
        <button type="button" class="modal-btn">Buy now</button>
        <a href="#discover" class="hero-link">How it's made</a>
        <div class="scroll">
          <p class="scroll-text">scroll down</p>
          <a href="#footer" class="footer-link">
            <svg class="scroll-icon" width="22" height="22">
              <use href="../img/hero/icons.svg#scroll"></use>
            </svg>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
