<section class="ingredients" id="ingredients">
  <div class="container">
    <div class="block-titel">
      <h2 class="titel-ingredients">
        IT ALL ADDS UP TO ONE EXCEPTIONAL
        <span class="span-titel"> TASTE </span> SENSATION
      </h2>
      <p class="description">
        At Simply Chocolate, we believe that the secret to exceptional chocolate
        is in the details. From the sourcing of the finest ingredients to the
        careful crafting of each individual piece, every step of our process
        adds up to one exceptional taste sensation.
      </p>
    </div>
    <div class="ingredients-grid">
      <ul>
        <li class="ingredients-chokolate">
          <picture>
            <source
              srcset="../img/ingredients/mobile/chokolate1x.webp 1x, ../img/ingredients/mobile/mobile2x/chokolate@2x.webp 2x"/>
              <img src="../img/ingredients/mobile/chokolate1x.webp" alt="Chocolate"/>
            <source
              srcset="../img/ingredients/tablet/chokolate1x.webp 1x, ../img/ingredients/tablet/tablet2x/chokolate@2x.webp 2x"
              media="(min-width:768px)"/>
            <source
              srcset="../img/ingredients/desctop/chokolate1x.webp 1x, ../img/ingredients/desctop/chokolate@2x.webp 2x"
              media="(min-width:1280px)"/> 
          </picture>
          <p class="text-chokolate">mILK CHOCOLATE</p>
        </li>
        <li class="ingredients-milk">
          <picture><source
              srcset="../img/ingredients/mobile/milk.webp 1x, ../img/ingredients/mobile/milk@2x.webp 2x"/>
              <img src="../img/ingredients/mobile/milk1x.webp" alt="Milk"/>
            <source
              srcset="../img/ingredients/tablet/milk1x.webp 1x, ../img/ingredients/tablet/tablet2x/milk@2x.webp 2x"
              media="(min-width:768px)"/>
            <source
              srcset="../img/ingredients/desctop/milk1x.webp 1x, ../img/ingredients/desctop/milk@2x.webp 2x"
              media="(min-width:1280px)"/>
            </picture>
          <p class="text-milk">Milk</p>
        </li>
        <li class="ingredients-nuts">
          <picture> <source
              srcset="../img/ingredients/mobile/haselnut1x.webp 1x, ../img/ingredients/mobile/haselnut@2x.webp 2x"/>
              <img src="../img/ingredients/mobile/haselnut1x.webp" alt="Haselnut"/>
            <source
              srcset="../img/ingredients/tablet/haselnut1x.webp 1x, ../img/ingredients/tablet/tablet2x/haselnut@2x.webp 2x"
              media="(min-width:768px)"/>
            <source
              srcset="../img/ingredients/desctop/haselnut1x.webp 1x, ../img/ingredients/desctop/haselnut@2x.webp 2x"
              media="(min-width:1280px)"/></picture>
          <p class="text-nuts">nuts</p>
        </li>
        <li class="ingredients-chokolate-drops">
          <picture><source
              srcset="../img/ingredients/mobile/chokolate-drops1x.webp 1x, ../img/ingredients/mobile/chokolate-drops@2x.webp 2x"/>
              <img src="../img/ingredients/mobile/chokolate-drops1x.webp" alt="Chocolate-drops"/>
            <source
              srcset="../img/ingredients/tablet/chokolate-drops1x.webp 1x, ../img/ingredients/tablet/tablet2x/chokolate-drops@2x.webp 2x"
              media="(min-width:768px)"/>
            <source
              srcset="../img/ingredients/desctop/chokolate-drops1x.webp 1x, ../img/ingredients/desctop/chokolate-drops@2x.webp 2x"
              media="(min-width:1280px)"/> </picture>
          <p class="text-chokolate-drops">sEMI - SWEET CHOCOLATE</p>
        </li>
      </ul>
    </div>
  </div>
</section>
