<section class="ingredients" id="ingredients">
  <div class="container">
    <dev class="container-content">
      <div class="block-titel">
        <h2 class="titel-ingredients">
          IT ALL ADDS UP TO ONE EXCEPTIONAL
          <span class="span-titel"> TASTE </span> SENSATION
        </h2>
        <p class="description">
          At Simply Chocolate, we believe that the secret to exceptional chocolate
          is in the details. From the sourcing of the finest ingredients to the
          careful crafting of each individual piece, every step of our process
          adds up to one exceptional taste sensation.
        </p>
      </div>
      <div>
        <ul class="ingredients-grid">
          <li class="ingredients-chocolate">
            <div class="image-container-milk-chocolate">
              <picture>
                <source srcset="/img/ingredients/mobile/chokolate1x.webp 1x, /img/ingredients/mobile/chokolate@2x.webp 2x"
                  media="(max-width: 767px)" />
                <source srcset="/img/ingredients/tablet/chokolate1x.webp 1x, /img/ingredients/tablet/tablet2x/chokolate@2x.webp 2x"
                  media="(min-width: 768px)" />
                <source srcset="/img/ingredients/desctop/chokolate1x.webp 1x, /img/ingredients/desctop/chokolate@2x.webp 2x"
                  media="(min-width: 1280px)" />
                <img src="/img/ingredients/mobile/chokolate1x.webp" alt="Milk Chocolate" />
              </picture>
            </div>
            <p class="ingredient-name-milk-chocolate">Milk Chocolate</p>
            <div class="milk-chocolate-overlay">
              <div class="milk-chocolate-content">
                <div class="block-titel-overlay">
                  <p class="milk-chocolate-overlay-titel">Milk chocolate</p>
                <ul class="description-of-benefits">
                  <li class="list-overlay-first">
                    <p class="text-overlay-chocolate">chocolate</p>
                  </li>
                  <li class="list-overlay-second">
                    <p class="text-overlay-benefits">the benefits</p>
                  </li>
                </ul>
                </div>
                <p class="text-overlay-description">Milk chocolate is a solid chocolate confectionery containing cocoa, sugar and
                  milk. It is the most consumed type of
                  chocolate. Chocolate was originally sold and consumed as a beverage in pre-Columbian times. Although four-fifths
                  of all
                  milk chocolate is sold in the United States and Europe.</p>
              </div>
            </div>
          </li>
          <li class="ingredients-milk">
            <div class="image-container-milk">
              <picture>
                <source srcset="/img/ingredients/tablet/milk1x.webp 1x, /img/ingredients/tablet/tablet2x/milk@2x.webp 2x"
                  media="(min-width:768px)" />
                <source srcset="/img/ingredients/desctop/milk1x.webp 1x, /img/ingredients/desctop/milk@2x.webp 2x"
                  media="(min-width:1280px)" />
                <source srcset="/img/ingredients/mobile/milk1x.webp 1x, /img/ingredients/mobile/milk@2x.webp 2x" />
                <img src="/img/ingredients/mobile/milk1x.webp" alt="Milk" />
              </picture>
            </div>
            <p class="ingredient-name-milk">Milk</p>
            <div class="milk-chocolate-overlay">
              <div class="milk-chocolate-content">
                <div class="block-titel-overlay">
                  <p class="milk-chocolate-overlay-titel">Milk</p>
                  <ul class="description-of-benefits">
                    <li class="list-overlay-first">
                      <p class="text-overlay-chocolate">milk</p>
                    </li>
                    <li class="list-overlay-second">
                      <p class="text-overlay-benefits">the benefits</p>
                    </li>
                  </ul>
                </div>
                <p class="text-overlay-description">
                  Milk is a white liquid food produced by the mammary glands of mammals.
                  It is the primary source of nutrition for young mammals (including
                  breastfed human infants) before they are able to digest solid food.
                  Early-lactation milk, which is called colostrum, contains antibodies
                  that strengthen the immune system.
                </p>
              </div>
            </div>
          </li>
      
          <li class="ingredients-nuts">
            <div class="image-container-nuts">
              <picture>
                <source srcset="/img/ingredients/tablet/haselnut1x.webp 1x, /img/ingredients/tablet/tablet2x/haselnut@2x.webp 2x"
                  media="(min-width:768px)" />
                <source srcset="/img/ingredients/desctop/haselnut1x.webp 1x, /img/ingredients/desctop/haselnut@2x.webp 2x"
                  media="(min-width:1280px)" />
                <source srcset="/img/ingredients/mobile/haselnut1x.webp 1x, /img/ingredients/mobile/haselnut@2x.webp 2x" />
                <img src="/img/ingredients/mobile/haselnut1x.webp" alt="Haselnut" />
              </picture>
            </div>
            <p class="ingredient-name-nuts">Nuts</p>
            <div class="milk-chocolate-overlay">
              <div class="milk-chocolate-content">
                <div class="block-titel-overlay">
                  <p class="milk-chocolate-overlay-titel">Nuts</p>
                  <ul class="description-of-benefits">
                    <li class="list-overlay-first">
                      <p class="text-overlay-chocolate">nuts</p>
                    </li>
                    <li class="list-overlay-second">
                      <p class="text-overlay-benefits">the benefits</p>
                    </li>
                  </ul>
                </div>
                <p class="text-overlay-description">
                  Almonds, pistachios, and walnuts are some types of nuts that contain
                  healthy nutrients. When eaten as part of a nutrient-dense diet, these 9
                  nuts may offer benefits such as reducing your risk of heart disease.
                  They're a good source of fiber, healthy fats, and plant protein. Plus,
                  they're great on their own.
                </p>
              </div>
            </div>
          </li>
      
          <li class="ingredients-chocolate-drops">
            <div class="image-container-chocolate-drops">
              <picture>
                <source
                  srcset="/img/ingredients/tablet/chokolate-drops1x.webp 1x, /img/ingredients/tablet/tablet2x/chokolate-drops@2x.webp 2x"
                  media="(min-width:768px)" />
                <source
                  srcset="/img/ingredients/desctop/chokolate-drops1x.webp 1x, /img/ingredients/desctop/chokolate-drops@2x.webp 2x"
                  media="(min-width:1280px)" />
                <source
                  srcset="/img/ingredients/mobile/chokolate-drops1x.webp 1x, /img/ingredients/mobile/chokolate-drops@2x.webp 2x" />
                <img src="/img/ingredients/mobile/chokolate-drops1x.webp" alt="Chocolate-drops" />
              </picture>
            </div>
            <p class="ingredient-name-chocolate-drops">sEMI - SWEET CHOCOLATE</p>
            <div class="milk-chocolate-overlay">
              <div class="milk-chocolate-content">
                <div class="block-titel-overlay">
                  <p class="milk-chocolate-overlay-titel">Semi - Sweet Chocolate</p>
                  <ul class="description-of-benefits">
                    <li class="list-overlay-first">
                      <p class="text-overlay-chocolate">semi - sweet chocolate</p>
                    </li>
                    <li class="list-overlay-second">
                      <p class="text-overlay-benefits">the benefits</p>
                    </li>
                  </ul>
                </div>
                <p class="text-overlay-description">
                  Semi-sweet chocolate has a cocoa solid content of 35 to 65%. One of the
                  best ways to gain an understanding of this type of chocolate is to
                  compare it to a different type of chocolate. Semisweet is darker than
                  milk chocolate. In a taste comparison, it has a slightly bitter taste
                  whereas milk chocolate is sweeter.
                </p>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </dev>
  </div>
</section>
