<section class="products" id="products">
  <div class="container">
    <div>
      <h2 class="products-title">
        OUR <span class="products-title-span">PRODUCTS</span>
      </h2>
      <!-- product cards -->
      <div class="products-field">
        <!-- product card 1 -->
        <div class="products-card">
          <div class="product-img">
            <picture>
              <source
                srcset="
                  /img/products/dark-chocolate-orange.webp,
                  /img/products/dark-chocolate-orange@2.webp 2x
                "
                width="230"
                height="201"
              />
              <img
                src="/img/products/dark-chocolate-orange.webp"
                alt="Orange Dark chocolate"
              />
            </picture>
          </div>
          <div class="product-item">
            <h3 class="product-name">orange</h3>
            <h4 class="product-type">Dark chocolate</h4>
            <div class="product-pricetag">
              <p class="product-price">45 UAH</p>
            </div>
          </div>
        </div>
        <!-- product card 2 -->
        <div class="products-card">
          <div class="product-img">
            <picture>
              <source
                srcset="
                  /img/products/dark-chocolate-orange.webp,
                  /img/products/dark-chocolate-orange@2.webp 2x
                "
                width="230"
                height="201"
              />
              <img
                src="/img/products/dark-chocolate-orange.webp"
                alt="Orange Dark chocolate"
              />
            </picture>
          </div>
          <div class="product-item">
            <h3 class="product-name">orange</h3>
            <h4 class="product-type">Dark chocolate</h4>
            <div class="product-pricetag">
              <p class="product-price">45 UAH</p>
            </div>
          </div>
        </div>
        <!-- product card 3 -->
        <div class="products-card">
          <div class="product-img">
            <picture>
              <source
                srcset="
                  /img/products/dark-chocolate-orange.webp,
                  /img/products/dark-chocolate-orange@2.webp 2x
                "
                width="230"
                height="201"
              />
              <img
                src="/img/products/dark-chocolate-orange.webp"
                alt="Orange Dark chocolate"
              />
            </picture>
          </div>
          <div class="product-item">
            <h3 class="product-name">orange</h3>
            <h4 class="product-type">Dark chocolate</h4>
            <div class="product-pricetag">
              <p class="product-price">45 UAH</p>
            </div>
          </div>
        </div>
        <!-- product card 4 -->
        <div class="products-card">
          <div class="product-img">
            <picture>
              <source
                srcset="
                  /img/products/dark-chocolate-orange.webp,
                  /img/products/dark-chocolate-orange@2.webp 2x
                "
                width="230"
                height="201"
              />
              <img
                src="/img/products/dark-chocolate-orange.webp"
                alt="Orange Dark chocolate"
              />
            </picture>
          </div>
          <div class="product-item">
            <h3 class="product-name">orange</h3>
            <h4 class="product-type">Dark chocolate</h4>
            <div class="product-pricetag">
              <p class="product-price">45 UAH</p>
            </div>
          </div>
        </div>
        <!-- product card 5 -->
        <div class="products-card">
          <div class="product-img">
            <picture>
              <source
                srcset="
                  /img/products/dark-chocolate-orange.webp,
                  /img/products/dark-chocolate-orange@2.webp 2x
                "
                width="230"
                height="201"
              />
              <img
                src="/img/products/dark-chocolate-orange.webp"
                alt="Orange Dark chocolate"
              />
            </picture>
          </div>
          <div class="product-item">
            <h3 class="product-name">orange</h3>
            <h4 class="product-type">Dark chocolate</h4>
            <div class="product-pricetag">
              <p class="product-price">45 UAH</p>
            </div>
          </div>
        </div>
        <!-- product card 6 -->
        <div class="products-card">
          <div class="product-img">
            <picture>
              <source
                srcset="
                  /img/products/dark-chocolate-orange.webp,
                  /img/products/dark-chocolate-orange@2.webp 2x
                "
                width="230"
                height="201"
              />
              <img
                src="/img/products/dark-chocolate-orange.webp"
                alt="Orange Dark chocolate"
              />
            </picture>
          </div>
          <div class="product-item">
            <h3 class="product-name">orange</h3>
            <h4 class="product-type">Dark chocolate</h4>
            <div class="product-pricetag">
              <p class="product-price">45 UAH</p>
            </div>
          </div>
        </div>
        <!-- product card 7 -->
        <div class="products-card">
          <div class="product-img">
            <picture>
              <source
                srcset="
                  /img/products/dark-chocolate-orange.webp,
                  /img/products/dark-chocolate-orange@2.webp 2x
                "
                width="230"
                height="201"
              />
              <img
                src="/img/products/dark-chocolate-orange.webp"
                alt="Orange Dark chocolate"
              />
            </picture>
          </div>
          <div class="product-item">
            <h3 class="product-name">orange</h3>
            <h4 class="product-type">Dark chocolate</h4>
            <div class="product-pricetag">
              <p class="product-price">45 UAH</p>
            </div>
          </div>
        </div>
        <!-- product card 8 -->
        <div class="products-card">
          <div class="product-img">
            <picture>
              <source
                srcset="
                  /img/products/dark-chocolate-orange.webp,
                  /img/products/dark-chocolate-orange@2.webp 2x
                "
                width="230"
                height="201"
              />
              <img
                src="/img/products/dark-chocolate-orange.webp"
                alt="Orange Dark chocolate"
              />
            </picture>
          </div>
          <div class="product-item">
            <h3 class="product-name">orange</h3>
            <h4 class="product-type">Dark chocolate</h4>
            <div class="product-pricetag">
              <p class="product-price">45 UAH</p>
            </div>
          </div>
        </div>
        <!-- product cards end -->
      </div>
    </div>
  </div>
</section>
