<section
  class="products container"
  id="products"
  aria-labelledby="products-title"
>
  <h2 class="products-title" id="products-title">
    OUR <span class="products-title-span">PRODUCTS</span>
  </h2>
  <!-- product cards -->
  <ul class="product-list" role="list">
    <!-- product card 0 -->
    <li class="product-card" role="listitem">
      <div class="product-img">
        <picture>
          <source
            type="image/webp"
            srcset="
              /img/products/dark-chocolate-orange.webp,
              /img/products/dark-chocolate-orange@2.webp 2x
            "
            width="230"
            height="201"
          />
          <img
            src="/img/products/dark-chocolate-orange.webp"
            alt="A dark chocolate bar with a rich orange flavor, offering a tangy and sweet experience."
          />
        </picture>
      </div>
      <div class="product-item">
        <h3 class="product-name">orange</h3>
        <h4 class="product-type">Dark chocolate</h4>
        <div class="product-pricetag">
          <p class="product-price" data-currency="UAH">45 UAH</p>
        </div>
      </div>
    </li>
    <!-- product card 1 -->
    <li class="product-card" role="listitem">
      <div class="product-img">
        <picture>
          <source
            type="image/webp"
            srcset="
              /img/products/milk-chocolate-apple-cranberry.webp,
              /img/products/milk-chocolate-apple-cranberry@2.webp 2x
            "
            width="230"
            height="201"
          />
          <img
            src="/img/products/milk-chocolate-apple-cranberry.webp"
            alt="A milk chocolate bar combined with apple and cranberry for a sweet and tart flavor profile."
          />
        </picture>
      </div>
      <div class="product-item">
        <h3 class="product-name">APPLE&CRANBERRY</h3>
        <h4 class="product-type">Milk chocolate</h4>
        <div class="product-pricetag">
          <p class="product-price" data-currency="UAH">50 UAH</p>
        </div>
      </div>
    </li>
    <!-- product card 2 -->
    <li class="product-card" role="listitem">
      <div class="product-img">
        <picture>
          <source
            type="image/webp"
            srcset="
              /img/products/dark-chocolate-lime-sea-salt.webp,
              /img/products/dark-chocolate-lime-sea-salt@2.webp 2x
            "
            width="230"
            height="201"
          />
          <img
            src="/img/products/dark-chocolate-lime-sea-salt.webp"
            alt="A dark chocolate bar with zesty lime and a hint of sea salt, creating a balanced sweet and savory taste."
          />
        </picture>
      </div>
      <div class="product-item">
        <h3 class="product-name">lime&sea salt</h3>
        <h4 class="product-type">Dark chocolate</h4>
        <div class="product-pricetag">
          <p class="product-price" data-currency="UAH">66 UAH</p>
        </div>
      </div>
    </li>
    <!-- product card 3 -->
    <li class="product-card" role="listitem">
      <div class="product-img">
        <picture>
          <source
            type="image/webp"
            srcset="
              /img/products/dark-chocolate-pineapple.webp,
              /img/products/dark-chocolate-pineapple@2.webp 2x
            "
            width="230"
            height="201"
          />
          <img
            src="/img/products/dark-chocolate-pineapple.webp"
            alt="Dark chocolate combined with tropical pineapple for a fruity and indulgent treat."
          />
        </picture>
      </div>
      <div class="product-item">
        <h3 class="product-name">pineapple</h3>
        <h4 class="product-type">Dark chocolate</h4>
        <div class="product-pricetag">
          <p class="product-price" data-currency="UAH">54 UAH</p>
        </div>
      </div>
    </li>
    <!-- product card 4 -->
    <li class="product-card" role="listitem">
      <div class="product-img">
        <picture>
          <source
            type="image/webp"
            srcset="
              /img/products/milk-chocolate-classic.webp,
              /img/products/milk-chocolate-classic@2.webp 2x
            "
            width="230"
            height="201"
          />
          <img
            src="/img/products/milk-chocolate-classic.webp"
            alt="Classic milk chocolate bar offering a smooth, creamy, and rich chocolate experience."
          />
        </picture>
      </div>
      <div class="product-item">
        <h3 class="product-name">classic</h3>
        <h4 class="product-type">Milk chocolate</h4>
        <div class="product-pricetag">
          <p class="product-price" data-currency="UAH">45 UAH</p>
        </div>
      </div>
    </li>
    <!-- product card 5 -->
    <li class="product-card" role="listitem">
      <div class="product-img">
        <picture>
          <source
            type="image/webp"
            srcset="
              /img/products/milk-chocolate-honey.webp,
              /img/products/milk-chocolate-honey@2.webp 2x
            "
            width="230"
            height="201"
          />
          <img
            src="/img/products/milk-chocolate-honey.webp"
            alt="A milk chocolate bar with the natural sweetness of honey for a soothing and mellow flavor."
          />
        </picture>
      </div>
      <div class="product-item">
        <h3 class="product-name">honey</h3>
        <h4 class="product-type">Milk chocolate</h4>
        <div class="product-pricetag">
          <p class="product-price" data-currency="UAH">50 UAH</p>
        </div>
      </div>
    </li>
    <!-- product card 6 -->
    <li class="product-card" role="listitem">
      <div class="product-img">
        <picture>
          <source
            type="image/webp"
            srcset="
              /img/products/dark-chocolate-roasted-fruits.webp,
              /img/products/dark-chocolate-roasted-fruits@2.webp 2x
            "
            width="230"
            height="201"
          />
          <img
            src="/img/products/dark-chocolate-roasted-fruits.webp"
            alt="Dark chocolate bar featuring roasted fruits for a rich, deep, and naturally sweet taste."
          />
        </picture>
      </div>
      <div class="product-item">
        <h3 class="product-name">Roasted fruits</h3>
        <h4 class="product-type">Dark chocolate</h4>
        <div class="product-pricetag">
          <p class="product-price" data-currency="UAH">66 UAH</p>
        </div>
      </div>
    </li>
    <!-- product card 7 -->
    <li class="product-card" role="listitem">
      <div class="product-img">
        <picture>
          <source
            type="image/webp"
            srcset="
              /img/products/white-chocolate-classic.webp,
              /img/products/white-chocolate-classic@2.webp 2x
            "
            width="230"
            height="201"
          />
          <img
            src="/img/products/white-chocolate-classic.webp"
            alt="A classic white chocolate bar with a smooth, sweet, and creamy flavor."
          />
        </picture>
      </div>
      <div class="product-item">
        <h3 class="product-name">Classic</h3>
        <h4 class="product-type">White chocolate</h4>
        <div class="product-pricetag">
          <p class="product-price" data-currency="UAH">54 UAH</p>
        </div>
      </div>
    </li>
    <!-- product cards end -->
  </ul>
  <!-- carousel-controls -->
  <svg
    xmlns="http://www.w3.org/2000/svg"
    aria-hidden="true"
    style="position: absolute; width: 0; height: 0; overflow: hidden"
  >
    <defs>
      <symbol id="icon-ellipse" viewBox="0 0 34 32">
        <path
          d="M17.231 32c8.837 0 16-7.163 16-16s-7.163-16-16-16-16 7.163-16 16 7.163 16 16 16z"
        />
      </symbol>
      <symbol id="icon-rectangle" viewBox="0 0 71 32">
        <path
          d="M54.154 0H17.231c-8.837 0-16 7.163-16 16s7.163 16 16 16h36.923c8.837 0 16-7.163 16-16s-7.163-16-16-16z"
        />
      </symbol>
    </defs>
  </svg>

  <nav class="carousel-controls" aria-label="Navigation dots for product list">
    <svg width="28" height="13" class="slider-icon" style="fill: var(--orange)">
      <use href="#icon-rectangle"></use>
    </svg>
    <svg width="13" height="13" class="slider-icon">
      <use href="#icon-ellipse"></use>
    </svg>
    <svg width="13" height="13" class="slider-icon">
      <use href="#icon-ellipse"></use>
    </svg>
    <svg width="13" height="13" class="slider-icon">
      <use href="#icon-ellipse"></use>
    </svg>
    <svg width="13" height="13" class="slider-icon">
      <use href="#icon-ellipse"></use>
    </svg>
    <svg width="13" height="13" class="slider-icon">
      <use href="#icon-ellipse"></use>
    </svg>
    <svg width="13" height="13" class="slider-icon">
      <use href="#icon-ellipse"></use>
    </svg>
    <svg width="13" height="13" class="slider-icon">
      <use href="#icon-ellipse"></use>
    </svg>
  </nav>
  <script src="./js/products.js" defer></script>
</section>
