<section class="reviews" id="reviews">
  <div class="container">
    <h2 class="reviews-heading">
      <span class="rev-head-span">chocolate</span> is loved
    </h2>

    <ul class="rev-card-list">
      <li>
        <div class="review-card">
          <img
            src="/img/reviews/victoria-dobrzhanska.png"
            class="rev-img"
            alt="Victoria Dobrzhanska"
            width="80"
            height="80"
          />
          <h3 class="rev-name">Victoria Dobrzhanska</h3>
          <p class="rev-text">
            I love this chocolate bar. Perfect combination of light crispy
            wafer, covered in a thin layer chocolate.
          </p>
        </div>
      </li>
      <li>
        <div class="review-card">
          <img
            src="/img/reviews/nazar-babenko.png"
            class="rev-img"
            alt="Nazar Babenko"
            width="80"
            height="80"
          />
          <h3 class="rev-name">Nazar Babenko</h3>
          <p class="rev-text">
            This chocolate confection is a delight! A delight! The wafer is
            light and crisp, the hazelnut cream is smooth, and the chocolate is
            good.
          </p>
        </div>
      </li>
      <li>
        <div class="review-card">
          <img
            src="/img/reviews/olena-kampush.png"
            class="rev-img"
            alt="Olena Kampusch"
            width="80"
            height="80"
          />
          <h3 class="rev-name">Nazar Babenko</h3>
          <p class="rev-text">
            Chocolate is a family favourite treat. Love the delicious smooth
            chocolate and the creaminess inside. The wafer is soft but crunchy.
          </p>
        </div>
      </li>
    </ul>

    <div class="reviews-swipe">
      <ul>
        <li>
          <a href="">
            <svg class="rev-logo" width="28" height="13">
              <use href="/img/reviews/icons.svg#Rectangle"></use>
            </svg>
          </a>
        </li>
        <li>
          <a href="">
            <svg class="rev-logo" width="13" height="13">
              <use href="/img/reviews/icons.svg#Ellipse"></use>
            </svg>
          </a>
        </li>
        <li>
          <a href="">
            <svg class="rev-logo" width="13" height="13">
              <use href="/src/img/reviews/icons.svg#Ellipse"></use>
            </svg>
          </a>
        </li>
        <li>
          <a href="">
            <svg class="rev-logo" width="13" height="13">
              <use href="/src/img/reviews/icons.svg#Ellipse"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
    <div class="review-button-div">
      <button type="button" class="btn-reviews">Leave a review</button>
    </div>
  </div>
</section>
