<section class="reviews" id="reviews">
  <div class="container">
    <h2 class="reviews-heading">
      <span class="rev-head-span">chocolate</span> is loved
    </h2>
    <div class="review-card">
      <img src="" alt="" />
      <p class="rev-name">Victoria Dobrzhanska</p>
      <p class="rev-text">
        I love this chocolate bar. Perfect combination of light crispy wafer,
        covered in a thin layer chocolate.
      </p>
    </div>
    <div class="reviews-swipe">
      <ul>
        <li>
          <svg class="" width="" height="">
            <use href=""></use>
          </svg>
        </li>
      </ul>
    </div>
    <div>
      <button class="btn-reviews">
        <p class="review-btn-text">Leave a review</p>
      </button>
    </div>
  </div>
</section>
