:root {
  --black: #111;
  --dark-purple: #1e1823;
  --orange: #fd9222;
  --white: #fafafa;

  color: var(--black);
  background-color: var(--white);
}

body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}
