.products {
  padding-bottom: 72px;
}
.products-title {
  font-weight: 600;
  font-size: 20px;
  letter-spacing: -0.03em;
  text-align: center;
  color: var(--black);
  margin-bottom: 32px;
}
.products-title-span {
  color: var(--orange);
}
.products-field {
  display: flex;
  flex-direction: column;
  row-gap: 18px;
}
.products-card {
  padding: 32px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 15px;
  background: #fff;
}
.products-card:nth-last-child(-n + 7) {
  display: none;
}
.product-name {
  margin-top: 8px;
  color: var(--black);
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.36px;
  text-align: center;
  text-transform: uppercase;
}
.product-type {
  color: rgba(17, 17, 17, 0.7);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: -0.24px;
  text-align: center;
  margin-bottom: 18px;
}
.product-pricetag {
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 100px;
  width: 94px;
  height: 35px;
  background-color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 14px;
  text-align: center;
  color: var(--black);
}
.offer-banner {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 13px;
}
.offer-svg-passive {
  fill: rgba(17, 17, 17, 0.1);
}
.offer-svg-active {
  order: 0;
  fill: var(--orange);
}
.offer-svg-passive1 {
  order: 1;
}
.offer-svg-passive2 {
  order: 2;
}
.offer-svg-passive3 {
  order: 3;
}
.offer-svg-passive4 {
  order: 4;
}
.offer-svg-passive5 {
  order: 5;
}
.offer-svg-passive6 {
  order: 6;
}
.offer-svg-passive7 {
  order: 7;
}
@media screen and (min-width: 768px) {
  .products-title {
    margin-bottom: 50px;
  }
  .products-field {
    display: flex;
    flex-direction: row;
    column-gap: 18px;
  }
  .products-card {
    min-width: 270px;
  }

  .products-card:nth-last-child(-n + 2) {
    display: flex;
  }
}

@media screen and (min-width: 1200px) {
  .products-card:nth-last-child(-n + 3) {
    display: flex;
  }
}
