.rev-head-span {
  color: #fd9222;
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px; /* 116.667% */
  letter-spacing: -0.72px;
  text-transform: uppercase;
}

.reviews-heading {
  text-align: center;
  margin-bottom: 90px;
  color: #111;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: -0.72px;
  text-transform: uppercase;
}

.rev-card-list {
  display: flex;
  gap: 28px;
}

.review-card {
  display: flex;
  flex-direction: column;
  width: 360px;
  height: 200px;
  border-radius: 15px;
  border: 1px solid rgba(17, 17, 17, 0.1);
  background: #fff;
  box-shadow: 0px 9.049px 26.572px 0px rgba(215, 228, 249, 0.25);
  margin-bottom: 32px;
}

.rev-img {
  transform: translate(0, -50%);
  align-self: center;
}

.rev-name {
  color: #111;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  margin-top: 18px;
}

.rev-text {
  color: rgba(17, 17, 17, 0.7);
  text-align: center;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 128.571% */
  letter-spacing: -0.28px;
}

.reviews-swipe-list {
  display: flex;
  align-items: center;
}

.review-button-div {
  display: flex;
  align-items: center;
}

.btn-reviews {
  display: flex;
  padding: 12px 28px;
  align-items: center;
  gap: 14px;
  border-radius: 100px;
  border: 1px solid #fd9222;
}
