:root {
  --white-pure: #fff;
}
.sellers {
  margin-bottom: 72px;
  background-color: var(--white);
}
/* #region top-sellers-modal */
.top-sellers-modal-title {
  margin-bottom: 32px;
}

.top-sellers-modal-wrapper {
  flex-grow: 1;
  overflow-y: auto;
  scrollbar-width: none;
  max-height: 100%;
}

.top-sellers-modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
  padding: 32px 24px;
  background-color: var(--white);
  max-height: var(--modal-height, 90vh);
}

.top-sellers-modal.is-open {
  margin: auto auto;
  position: fixed;
  visibility: visible;
  z-index: 3;
  opacity: 1;
  pointer-events: auto;
  left: 50%;
  transform: translate(-50%, calc(10vh / 2));
  width: 100vw;
  max-width: 311px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
}
body.modal-open {
  overflow: hidden;
}
body.modal-open::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(46, 47, 66, 0.6);
  backdrop-filter: blur(5px);
  z-index: 2;
}
.top-sellers-modal-close {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 14px;
  right: 14px;
  cursor: pointer;
  stroke: var(--black);
}
.top-sellers-modal-close:hover,
.form-close-button:focus:focus {
  stroke: var(--orange);
}
.top-sellers-modal-buy-list {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  margin-bottom: 32px;
}
.top-sellers-modal-buy-item {
  width: 100%;
  height: 85px;
  border-radius: 15px;
  border: 1px solid rgba(17, 17, 17, 0.1);
  background: var(--white-pure);
  display: inline-flex;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}
.top-sellers-modal-buy-item-weight-tag {
  width: 70px;
  height: 29px;
  border-radius: 100px;
  border: 1px solid rgba(17, 17, 17, 0.1);
  background: var(--white);
  color: var(--black);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
}
.top-sellers-modal-form-label {
  color: var(--black);
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: -0.24px;
  margin-top: 18px;
  margin-bottom: 8px;
}
.top-sellers-modal-input-label {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-bottom: 14px;
  position: relative;
}
.top-sellers-modal-input {
  color: rgba(64, 64, 64, 0.3);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.215;
  letter-spacing: -0.28px;
  width: 100%;
  padding: 13px 18px;
  border-radius: 8px;
  border: 1.5px solid rgba(17, 17, 17, 0.05);
  box-shadow: 0px 5.445px 5.445px 0px rgba(0, 0, 0, 0.03);
  background-color: var(--white);
  outline: none;
}
.top-sellers-modal-input:focus-visible {
  border-color: var(--orange);
}
.top-sellers-modal-input::placeholder {
  color: rgba(64, 64, 64, 0.3);
}
.top-sellers-modal-input:not(:placeholder-shown) {
  color: var(--black);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: -0.28px;
}
.input-tooltip {
  display: inline-block;
  background-color: rgba(64, 64, 64, 1);
  color: white;
  padding: 4px 6px;
  font-size: 9px;
  border-radius: 4px;
  white-space: nowrap;
  position: absolute;
  align-self: center;
  top: -22px;
  left: 0;
  opacity: 0;
  transition: opacity 0.2s ease;
}

.top-sellers-modal-input:focus-visible + .input-tooltip {
  opacity: 1;
}

.top-sellers-modal-input-creditcard {
  padding-right: 50px;
}
.top-sellers-modal-input-creditcard-icon {
  position: absolute;
  right: 19px;
  top: 16px;
  width: 22px;
  height: 13px;
}
.top-sellers-modal-input-phone {
  padding-left: 106px;
}
.top-sellers-modal-input-prefix {
  position: absolute;
  display: flex;
  align-items: center;
  gap: 8px;
  left: 18px;
  top: 9px;
  width: 74px;
  height: 25px;
  box-shadow: 1.5px 0px 0px 0px rgba(0, 0, 0, 0.1);
}
.top-sellers-modal-input-phone-icon {
  width: 24px;
  height: 18px;
}
.top-sellers-modal-input-phone-prefix {
  color: var(--black);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: -0.28px;
}
.top-sellers-modal-input-comment {
  height: 91px;
  padding: 14px 18px;
  margin-bottom: 4px;
  resize: none;
}
.top-sellers-modal-submit {
  background-color: var(--orange);
  color: var(--white);
  border: 0;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  width: 120px;
  height: 41px;
  border-radius: 100px;
}
.top-sellers-modal-submit:hover {
  background-color: #fcf1e0;
  color: var(--orange);
}

@media only screen and (min-width: 768px) {
}
/* #endregion top-sellers-modal */

.top-sellers-title,
.top-sellers-modal-title {
  color: var(--orange);
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  letter-spacing: -0.6px;
  text-align: center;
  margin-bottom: 32px;
}
.top-sellers-title-span,
.top-sellers-modal-title-span {
  color: var(--black);
}
.top-sellers-gallery {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 20px;
  margin: 0;
}
.top-sellers-gallery-img {
  border-radius: 15px;
}

.top-sellers-chocolate-fact {
  color: var(--black);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.28px;
  max-width: 306px;
  margin-bottom: 12px;
}

.top-sellers-gallery > :nth-child(1) {
  order: 1;
}
.top-sellers-gallery > :nth-child(4) {
  order: 2;
}
.top-sellers-gallery > :nth-child(2) {
  order: 3;
}
.top-sellers-gallery > :nth-child(3) {
  order: 4;
  display: none;
}
.top-sellers-gallery > :nth-child(5) {
  order: 5;
  display: flex;
  justify-content: center;
}
.top-sellers-gallery-buynow {
  background-color: var(--orange);
  color: var(--white);
  border: 0;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  width: 120px;
  height: 41px;
  border-radius: 100px;
}
.top-sellers-gallery-buynow:hover {
  background-color: #fcf1e0;
  color: var(--orange);
}

@media only screen and (min-width: 768px) {
  .sellers {
    margin-bottom: 100px;
  }
  .top-sellers-gallery {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 16px;
    row-gap: 32px;
  }
  .top-sellers-chocolate-fact {
    margin-bottom: 0;
  }
  .top-sellers-gallery > :nth-child(4) {
    order: 4;
  }
  .top-sellers-gallery-buynow {
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    width: 162px;
    height: 50px;
    margin: 0;
  }
}

@media only screen and (min-width: 1200px) {
  .sellers {
    margin-bottom: 128px;
  }
  .top-sellers-gallery {
    row-gap: 32px;
  }

  .top-sellers-gallery > :nth-child(3) {
    display: block;
  }

  .top-sellers-chocolate-fact {
    max-width: 407px;
  }
}
