/* #region top-sellers-modal */
.top-sellers-modal-title {
  margin-bottom: 32px;
}

.top-sellers-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  pointer-events: none;
  opacity: 0;
  background-color: var(--white);
  /* background-color: rgba(46, 47, 66, 0.4); */
  transition: opacity 250ms var(--cubic-bezier),
    visibility 250ms var(--cubic-bezier);
}

.top-sellers-modal.is-open {
  opacity: 1;
  z-index: 3;
  pointer-events: auto;
  padding: 32px 24px;
  width: 100vw;
  max-width: 311px;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 15px;
  transition: transform 250ms var(--cubic-bezier);
}

.form-close-button {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #e7e9fc;
  border: 1px solid #0000001a;
  top: 24px;
  right: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: absolute;
  padding: 0;
  transition: background-color 250ms var(--cubic-bezier),
    border 250ms var(--cubic-bezier);
}

.form-close-button .form-icon-close {
  fill: #2e2f42;
  transition-property: fill;
  transition-timing-function: var(--cubic-bezier);
  transition-duration: 250ms;
}

.form-close-button:hover .form-icon-close,
.form-close-button:focus .form-icon-close {
  fill: #fff;
}

.form-close-button:hover,
.form-close-button:focus {
  background-color: #404bbf;
  border: none;
}

/* #endregion top-sellers-modal */
.sellers {
  margin-bottom: 72px;
}
.top-sellers-title,
.top-sellers-modal-title {
  color: var(--orange);
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  letter-spacing: -0.6px;
  text-align: center;
  margin-bottom: 32px;
}
.top-sellers-title-span,
.top-sellers-modal-title-span {
  color: var(--black);
}
.top-sellers-gallery {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 20px;
  margin: 0;
}
.top-sellers-gallery-img {
  border-radius: 15px;
}

.top-sellers-chocolate-fact {
  color: var(--black);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.28px;
  max-width: 306px;
  margin-bottom: 12px;
}

.top-sellers-gallery > :nth-child(1) {
  order: 1;
}
.top-sellers-gallery > :nth-child(4) {
  order: 2;
}
.top-sellers-gallery > :nth-child(2) {
  order: 3;
}
.top-sellers-gallery > :nth-child(3) {
  order: 4;
  display: none;
}
.top-sellers-gallery > :nth-child(5) {
  order: 5;
  display: flex;
  justify-content: center;
}
.top-sellers-gallery-buynow {
  background-color: var(--orange);
  color: var(--white);
  border: 0;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  width: 120px;
  height: 41px;
  border-radius: 100px;
}
.top-sellers-gallery-buynow:hover {
  background-color: #fcf1e0;
  color: var(--orange);
}

@media only screen and (min-width: 768px) {
  .sellers {
    margin-bottom: 100px;
  }
  .top-sellers-gallery {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 16px;
    row-gap: 32px;
  }
  .top-sellers-chocolate-fact {
    margin-bottom: 0;
  }
  .top-sellers-gallery > :nth-child(4) {
    order: 4;
  }
  .top-sellers-gallery-buynow {
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    width: 162px;
    height: 50px;
    margin: 0;
  }
}

@media only screen and (min-width: 1200px) {
  .sellers {
    margin-bottom: 128px;
  }
  .top-sellers-gallery {
    row-gap: 32px;
  }

  .top-sellers-gallery > :nth-child(3) {
    display: block;
  }

  .top-sellers-chocolate-fact {
    max-width: 407px;
  }
}
