.sellers {
  margin-bottom: 72px;
}
.top-sellers-title {
  color: var(--orange);
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  letter-spacing: -0.6px;
  text-align: center;
  margin-bottom: 32px;
}
.top-sellers-title-span {
  color: var(--black);
}
.top-sellers-gallery {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 20px;
  margin: 0;
}
.top-sellers-chocolate-fact {
  color: var(--black);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 128.571% */
  letter-spacing: -0.28px;
  /* margin-right: 29px; */
  max-width: 306px;
  order: 2;
}
.top-sellers-gallery picture:nth-child(2) {
  order: 3;
}
.top-sellers-gallery-buynow {
  order: 4;
}
.top-sellers-gallery picture:nth-child(3),
.top-sellers-gallery picture:nth-child(4) {
  display: none;
}

@media only screen and (min-width: 768px) {
  .sellers {
    margin-bottom: 100px;
  }
  .top-sellers-gallery {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 16px;
  }
  .top-sellers-chocolate-fact {
    order: 3;
  }
  .top-sellers-chocolate-fact {
    margin: 0;
  }
}

@media only screen and (min-width: 1200px) {
  .sellers {
    margin-bottom: 128px;
  }
}
